a {
    text-decoration: none!important;
}

li {
    list-style: none!important;
}

.pr-0 {
    padding-right: 0px!important;
}

.hr-footer {
    width: 25%;
    margin: 8px auto;
}

.nav-paginas-web {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menuPrincipal {
    width: 100%!important;
    display: flex!important;
    flex-wrap: wrap;
    justify-content: center;
}

.menuPrincipal li {
    padding: 3px;
}

.menuPrincipal li i {
    color: #fff;
}

.navbar {
    background-color: var(--color-principal)!important;
}

.navbar-light .navbar-nav .nav-link {
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link, .navbar * {
    color: #fff!important;
}

.sombra {
    box-shadow: 0px 103px 25px rgb(0, 0, 0, 0.5);
}

.card-predefinida {
    width: 350px;
    height: 350px;
}

.navbar-light .navbar-toggler {
    border-color: rgb(255, 255, 255)!important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}