a {
    text-decoration: none!important;
}

li {
    list-style: none!important;
}

.pr-0 {
    padding-right: 0px!important;
}

.hr-footer {
    width: 25%;
    margin: 8px auto;
}

.nav-paginas-web {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menuPrincipal {
    width: 100%!important;
    display: flex!important;
    flex-wrap: wrap;
    justify-content: center;
}

.menuPrincipal li {
    padding: 3px;
}

.menuPrincipal li i {
    color: #fff;
}

.navbar {
    background-color: var(--color-principal)!important;
}

.navbar-light .navbar-nav .nav-link {
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link, .navbar * {
    color: #fff!important;
}

.sombra {
    box-shadow: 0px 103px 25px rgb(0, 0, 0, 0.5);
}