:root {
    --color-principal: #335249;
    --color-secundario: rgb(220,53,69); 
    --color-tercero: #ffc527; 
    --color-cuarto:#1f624f;
    --estilo-letra:#92ff92;
    --texto-color-footer:#ffe000;
}